* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Open Sans, Arial, sans-serif;
}
body {
  background: #121216;
}

/*Sección 3*/
.seccion3 {
  width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between;
}
.news {
  display: flex;
  align-items: center;
  color: #32323d;
  width: 100%;
  justify-content: center;
}
.divider-line {
  height: 2px;
  width: 70%;
  background: linear-gradient(
    270deg,
    currentColor,
    currentColor 84.88%,
    rgba(0, 0, 0, 0)
  );
}
.divider-line:last-of-type {
  background: linear-gradient(
    90deg,
    currentColor,
    currentColor 84.88%,
    rgba(0, 0, 0, 0)
  );
}
.divider-text {
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  width: fit-content;
  margin-bottom: 32px;
}
.newsText {
  color: white;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 42px;
  margin-bottom: 24px;
}
.news-text {
  color: #bebec7;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 14px;
}
a {
  text-align: center;
  cursor: pointer;
  width: 600px;
}
svg {
  width: 600px;
}
.info-button {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 96px;
}
.more-info {
  text-transform: uppercase;
  background-color: white;
  border-color: white;
  width: fit-content;
  color: #191919;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-height: 54px;
  text-align: center;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}
.faq-content{
  margin-bottom:94px ;
}
.faq-structure {
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
}
.faq-tittle{
  margin-bottom: 48px;
}
.faq {
  font-family: Deezer, Arial, sans-serif;
  color: white;
  font-size: 29px;
  text-align: start;
  width: 590px;
}
.drop-down-arrow {
  width: 15.3px;
  height: 18.2px;
}
.answer-faq {
  color: white;
  font-size: 16px;
  margin-bottom: 24px;
}
.answer {
  margin: 0px 0px 15px;
  line-height: 25px;
  width: 600px;
}

.small-print {
  font-size: 12px;
  padding: 50px 0px;
  color: #92929d;
  width: 600px;
  line-height: 25px;
  margin-bottom: 96px;
}
footer {
  border-top: 1px solid #32323d;
  padding: 64px 90px 117px;
  text-align: left;
}
.download {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}
.download img {
  height: 45px;
  width: 135px;
  cursor: pointer;
}
.footer-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 15px;
  justify-content: space-between;
  
}
.footer-list ul {
  list-style: none;
  line-height: 28px;
  text-align: left;
  max-width: 245px;
  padding-right: 25px;
  
}

.last-footer-list ul{
  padding-right: 0px;
}
.list-tittle {
  color: white;
  font-weight: 700;
  padding-bottom: 14px;
  margin-bottom: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.list-items {
  color: #bebec7;
  margin: 0px 0px 10px;
  cursor: pointer;
}
.social-media {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  padding: 80px 0px 0px;
  justify-content: space-between;
  align-items: flex-end;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.social-media-icons li{
  padding-left: 9px;
  list-style: none;
}

.social-media-icons img {
  width: 20px;
  margin: 7px 7px 0px;
  cursor: pointer;
}
.footer-logo {
  display: flex;
  width: 181px;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.legal-terms {
  display: flex;
  flex-direction: row;
  color: #818181;
  font-size: 14px;
  align-items: flex-end;
}
.lang-label {
  color: #d1d1d7;
  cursor: pointer;
  height: 18px;
  padding-left: 8px;
  padding-right: 25px;
}
.lang-label img {
  width: 12px;
  height: 12px;
  right: 0;
  top: 4px;
  margin-left: 10px;
}
